{% extends "auctions/layout.html" %}

{% block body %}


    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <div class="card container">
        <div class="card-body">

            <h2 class="card-title text-center">List Your Item</h2>


        <form action="{% url 'create_listing' %}" method="post">
            {% csrf_token %}
            
            {{form}}
            
            <input class="btn btn-primary" type="submit" value="Add Listing">
        </form>
    </div>

    </div>
{% endblock %}