{% extends "auctions/layout.html" %}

{% block body %}


    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <div class="card container">
        <div class="card-body">

            <h2 class="card-title text-center">List Your Item</h2>


        <form action="{% url 'create_listing' %}" method="post">
            {% csrf_token %}
            
            {% for field in form %}
            <div class="form-group">
                <!-- {{ field.label }}   -->
                {{ field }}        
                {% if field.errors %}
                    <ul class="errors">
                    {% for error in field.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </div>
            {% endfor %}
            
            <input class="btn btn-primary" type="submit" value="Add Listing">
        </form>
    </div>

    </div>
{% endblock %}