{% extends "auctions/layout.html" %}

{% block body %}

    <h2>Active Listings</h2>

    {% if listings %}


        {% for listing in listings %}

        <div class="my-5 d-inline-flex mb-3 border rounded shadow">

            <div class="p-2">

                <img style="
                object-fit: cover; 
                width: 300px; 
                height: 250px;" 
                class="rounded" 
                src="{{listing.picture_URL}}">
                
            </div>
            
            <div class="p-2 h-auto d-flex flex-column justify-content-between" style="width: 500px;">
                
                <div>

                    <h1>
                        {{listing.object_name}}
                    </h1>              
                    
                    <p> 
                        <span style="font-weight: bold;">
                            Description: 
                        </span>
                        {{listing.object_description}}
                    </p>
                    
                </div>

                <h4 class="">
                    Current Price: {{listing.object_price}}
                </h4>
                
            </div>
        </div>
        {% endfor %}
        
    {% else %}
    
        <h6>No Listings Yet</h6>
    
    {% endif %}

    
{% endblock %}