{% extends "auctions/layout.html" %}

{% block body %}
<div class="container">

{% if error_message %}

<h1 style="text-align: center;">
    {{error_message}}
</h1>

{% else %}

    <h2 class="mb-5 text-center">Listed Items</h2>

    <div class="border rounded shadow">
        <div class="d-flex">

            <div class="p-2">

                <img style="
                object-fit: cover; 
                width: 300px; 
                height: 250px;" 
                class="rounded" 
                src="{{item.picture_URL}}">
                
            </div>
            
            <div class="p-2 h-auto d-flex flex-column justify-content-between">
                
                <div>

                    <h1>
                        {{item.object_name}}
                    </h1>              
                    
                    <p> 
                        <span style="font-weight: bold;">
                            Description: 
                        </span>
                        {{item.object_description}}
                    </p>

                    {% if watch_listed %}

                        <form action="{% url 'change_watchlist' %}" method="post">
                            {% csrf_token %}
    
                            {{object_user}}

                            <H6 style="color: gray">Watchlisted</H6>

                            <button type="submit" value="remove" name="action"> 
                                Remove
                            </button>
                        </form>

                    {% else %}
                
                        <form action="{% url 'change_watchlist' %}" method="post">
                            {% csrf_token %}

                            {{object_user}}

                            <button type="submit" value="add" name="action">
                                <h6>Watchlist This!</h6>
                            </button>
                        </form>
                    
                    {% endif %}
                    
                </div>

                <h4 class="">
                    Current Bid: {{current_bid}}
                </h4>
                
            </div>
        </div>
<hr>
            
        <div class="text-center mb-2 mx-auto" style="width: 200px;">

            
            <form action="{% url 'place_bid' %}" method="post" data-current-bid="{{ current_bid }}">

                {% csrf_token %}

                <input class="form-control mb-2 text-center" placeholder="Bid amount" name="bid_amount" required onchange="checkBidAmount(this)">

                <input hidden name="object_id" value="{{item.object_id}}">
                <input hidden name="user_id" value="{{user.id}}">
                
                <button type="submit" class="btn btn-primary">

                    Bid Now
                
                </button>

            </form>

        </div>
            
        </div>
        

{% endif %}

</div>

<script>

    function checkBidAmount(inputField) {
        const form = inputField.form;
        const currentBid = parseFloat(form.dataset.currentBid);
        const enteredBid = parseFloat(inputField.value);

        if (enteredBid <= currentBid) {
            alert("Bid amount must be higher than the current bid of " + currentBid);
            inputField.value = ""; // Optional: Clear the input field on error
        }
    }

    const bid_amount_field = document.querySelector('input[name="bid_amount"]')
    bid_amount_field.value = `{{current_bid}}` * 1.1


</script>
            
{% endblock %}