{% extends "auctions/layout.html" %}

{% block body %}
<div class="container">

    <div class="border rounded shadow">
        {% if winner_check %}
        <div class="text-center mt-1" style="color: Blue;">
            <h4 class="">Congratulations!</h4>
            <h6>You are the winner</h6>
        </div>
        <hr class="m-0">
        {% endif %}
        <div class="d-flex">

            <div class="p-2 w-50">

                <img style="
                object-fit: cover;
                width: 100%;
                height: 100%; 
                " 
                
                class="rounded" 
                src="{{item.picture_URL}}">
                
            </div>
            
            <div class="p-2 h-auto d-flex flex-column justify-content-between flex-fill">
                
                <div>

                    <h1>
                        {{item.object_name}}
                    </h1>              
                    
                    <p> 
                        <span style="font-weight: bold;">
                            Description: 
                        </span>
                        {{item.object_description}}
                    </p>

                    {% if item.listing_open %}        

                    {% if watch_listed %}

                        <form action="{% url 'change_watchlist' %}" method="post">
                            {% csrf_token %}
    
                            {{object_user}}

                            <H6 style="color: gray">Watchlisted</H6>

                            <button type="submit" value="remove" name="action" class="btn btn-info"> 
                                Remove
                            </button>
                        </form>

                    {% else %}
                
                        <form action="{% url 'change_watchlist' %}" method="post">
                            {% csrf_token %}

                            {{object_user}}

                            <button type="submit" value="add" class="btn btn-info" name="action">
                                Add to Watchlist
                            </button>
                        </form>
                    
                    {% endif %}


                    {% endif %}


                </div>

                <h4 class="">
                    Current Bid: {{current_bid}}
                </h4>
                
            </div>
            
        {% if item.listing_open %}        

            {% if owner_check %}

            <div class="m-2">
                <form action="{% url 'close_listing' %}" method="post">
                    {% csrf_token %}
                    {{object_user}}

                    <button type="submit" class="btn btn-primary">
                         Close Auction
                    </button>
                </form>   
            </div>

            {% endif %}

        {% else %}

        <div class="m-2">
         
                <button disabled class="btn btn-primary">
                      Closed
                </button>

        </div>

        {% endif %}

        </div>
<hr class="mb-2 mt-0">
            
        <div class="text-center mb-2 mx-auto" style="width: 200px;">

            
            <form action="{% url 'place_bid' %}" method="post" data-current-bid="{{ current_bid }}">

                {% csrf_token %}
                {{object_user}}

                <input class="form-control mb-2 text-center" placeholder="Bid amount" name="bid_amount" required onchange="checkBidAmount(this)">
                <button type="submit" class="btn btn-primary">

                    Bid Now
                
                </button>

            </form>

        </div>
            
        </div>
        
</div>

<div class="container">

    <!-- add comment box -->
    <div class="border p-3">

        <form action="{% url 'post_comment' %}" method="post">
            
            {% csrf_token %}

            {{object_user}}
            {{comment_form}}

            <div class="text-center">
                <button class="btn btn-primary" type="submit">
                    Add Comment
                </button>
            </div>
    
        </form>                           
    </div>

</div>

<script>

    function checkBidAmount(inputField) {
        const form = inputField.form;
        const currentBid = parseFloat(form.dataset.currentBid);
        const enteredBid = parseFloat(inputField.value);

        if (enteredBid <= currentBid) {
            alert("Bid amount must be higher than the current bid of " + currentBid);
            inputField.value = ""; // Optional: Clear the input field on error
        }
    }

    const bid_amount_field = document.querySelector('input[name="bid_amount"]')
    bid_amount_field.value = `{{current_bid}}` * 1.1


</script>
            
{% endblock %}